* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Main Editor Container */
.main {
    display: flex;
    height: calc(100vh - 50px);
    overflow: hidden;
}

/* Left Editor Container */
.left-container {
    position: relative;
    flex: 60%;
    height: calc(100vh - 50px);
}

.right-container {
    flex: 40%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    background-color: #242424;
    border-left: 3px solid #01b37a;
    padding: 5px;
}

.right-container h4 {
    margin: 10px;
    font-size: 18px;
    color: #00df9a;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}

.input-box {
    flex: 50%;
}

.input-box textarea {
    font-size: 16px;
}

.spinner-box {
    flex: 50%;
    background-color: #242424;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-box img {
    width: 200px;
}

.output-box {
    flex: 50%;
    background-color: #242424;
    overflow-y: auto;
    color: white;
    position: relative;
    padding: 15px;
}

.clear-btn {
    position: absolute;
    bottom: 14px;
    right: 18px;
    width: 80px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #01484b;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
}

.output-box pre {
    font-size: 15px;
    white-space: pre-wrap;
}

h4 {
    color: #00df9a;
}

#code-inp {
    box-sizing: border-box;
    overflow: hidden;
    width: 96%;
    height: 100%;
    resize: none;
    background-color: #242424;
    color: #00df9a;
    padding: 15px;
    border:2px solid #00df9a;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    margin-left: 10px;
}

#code-inp:focus {
    outline: none;
}

.run-btn {
    position: absolute;
    bottom: 14px;
    right: 18px;
    width: 80px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #00df98ab;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 8.5px;
}

.run-btn:active {
    background-color: #6e9427;
}
