.navbar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    text-align: center;
    color: #00df9a;
    background-color: #474747;
    gap: 20px;
}

#no {
    height: 36px;
    width: 80px;
    font-size: 16px;
    color: #474747;
    border: 1px solid #474747;
    border-radius: 4px;
    background-color: #474747;
}

#no:focus {
    outline: none;
}

.css-2b097c-container {
    width: 120px;
    color: black;
    background-color: #474747;
}

.css-yk16xz-control {
    background-color: #474747 !important;
    border-color: #474747 !important;
}

.language-select{
    color: black;
    background-color: #00df9a;
    border-color: #474747;
    border-radius: 5px !important;
}

.theme-select{
    color: black;
    background-color: #474747 !important;
    border-color: #474747;
}

.font-size-input {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: linear-gradient(to left, #00df9a, #242424);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: 10px 0;
    transition: background 0.3s ease;
}